{% extends '@KoddistortionBodyBookTheme/Default/base.html.twig' %}

{% trans_default_domain 'BodyBookFrontEndBundle' %}

{% block html_title %}{{ 'bb_frontend.views.body_stat.add.page.title'|trans }}{% endblock %}

{% block page_header_title %}
	<i class="icon-accessibility position-left"></i>
	<span class="text-semibold">Körperwerte</span> erfassen
{% endblock page_header_title %}

{% block breadcrump %}
	<li><a href="{{ path('homepage') }}">{{ 'bb_platform.global.home'|trans({ }, 'BodyBookPlatformBundle') }}</a></li>
	<li>{{ 'bb_frontend.menu.second.body.label'|trans }}</li>
	<li class="active">{{ 'bb_frontend.menu.second.body.track'|trans }}</li>
{% endblock breadcrump %}

{% block body %}
	{{ form_start(form, {'attr': {'class': 'fos_user_registration_register'}}) }}
	<div class="panel panel-default">
		<div class="panel-heading">
			<h6 class="panel-title"><i class="icon-plus2 position-left"></i> {{ 'bb_frontend.views.body_stat.add.portlet.title'|trans }}</h6>
		</div>

		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					{{ form_row(form.measureDate) }}
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					{{ form_row(form.weight ) }}
				</div>
				<div class="col-md-6">
					{{ form_row(form.fat) }}
				</div>
			</div>

		</div>
		<div class="panel-footer">
			<div class="heading-elements not-collapsible">
				<div class="heading-btn pull-right">
					<button type="submit" class="btn btn-primary">Submit form <i
								class="icon-arrow-right14 position-right"></i></button>
					<button type="button" class="btn btn-default legitRipple">Cancel</button>
				</div>
			</div>
		</div>
	</div>
	{{ form_end(form) }}
{% endblock %}

