<div class="table-responsive width-600">
	<table class="table table-xs">
		<thead>
		<tr>
			<th>{{ name }}</th>
			<th>Category</th>
			<th>Assigned to</th>
			<th class="text-center">Progress</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td><a href="#">Frontpage fixes</a></td>
			<td>Bugs</td>
			<td><a href="#"><img src="{{ asset('bundles/koddistortionbodybooktheme/images/placeholder.jpg')}}" class="img-xs img-circle" alt=""></a></td>
			<td class="text-center"><span class="badge badge-success">87%</span></td>
		</tr>
		<tr>
			<td><a href="#">CSS compilation</a></td>
			<td>Bugs</td>
			<td>
				<a href="#"><img src="{{ asset('bundles/koddistortionbodybooktheme/images/placeholder.jpg')}}" class="img-xs img-circle" alt=""></a>
				<a href="#"><img src="{{ asset('bundles/koddistortionbodybooktheme/images/placeholder.jpg')}}" class="img-xs img-circle" alt=""></a>
			</td>
			<td class="text-center"><span class="badge badge-danger">18%</span></td>
		</tr>
		<tr>
			<td><a href="#">Responsive layout changes</a></td>
			<td>Layout</td>
			<td><a href="#"><img src="{{ asset('bundles/koddistortionbodybooktheme/images/placeholder.jpg')}}" class="img-xs img-circle" alt=""></a></td>
			<td class="text-center"><span class="badge badge-default">52%</span></td>
		</tr>
		<tr>
			<td><a href="#">Add categories filter</a></td>
			<td>Content</td>
			<td>
				<a href="#"><img src="{{ asset('bundles/koddistortionbodybooktheme/images/placeholder.jpg')}}" class="img-xs img-circle" alt=""></a>
				<a href="#"><img src="{{ asset('bundles/koddistortionbodybooktheme/images/placeholder.jpg')}}" class="img-xs img-circle" alt=""></a>
				<a href="#"><img src="{{ asset('bundles/koddistortionbodybooktheme/images/placeholder.jpg')}}" class="img-xs img-circle" alt=""></a>
			</td>
			<td class="text-center"><span class="badge badge-success">100%</span></td>
		</tr>
		<tr>
			<td><a href="#">Media grid padding issue</a></td>
			<td>Bugs</td>
			<td><a href="#"><img src="{{ asset('bundles/koddistortionbodybooktheme/images/placeholder.jpg')}}" class="img-xs img-circle" alt=""></a></td>
			<td class="text-center"><span class="badge badge-success">100%</span></td>
		</tr>
		</tbody>
	</table>
</div>